{{define "body"}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="box">
          <h2 class="title">Login</h2>

          <form action="/login" method="post">
            <input type="hidden" name="csrf" value="{{index . "csrf"}}">

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" name="email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" name="password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <a class="button is-text" href="/register">Register instead</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
