{{define "footer"}}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Two Cents</strong> by <a href="https://www.chunkhang.com/" target="_blank">Marcus Mu</a>
    </p>
  </div>
</footer>

{{end}}
