{{define "base.html"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Two Cents</title>
    </head>
    <body>
      {{template "body" .}}
    </body>
  </html>
{{end}}
